{% include head.html %}

<div class="blog-card" data-title="{{ post.title | escape }}" data-tags="{{ post.tags | join:',' | escape }}"
    data-difficulty="{{ post.difficulty | escape }}" data-os="{{ post.os | escape }}"
    data-skills="{{ post.skills | join:',' | escape }}">
    <div class="blog-card-image" style="background-image: url('{{ post.post-image }}');"></div>
    <a href="{{ post.url | absolute_url }}" class="blog-card-content">
        <h1 class="title blog-card-title">{{ post.title }}</h1>
        <div class="content blog-card-desc">
            {{ post.description | truncate: 300 | strip_html | strip_newlines | strip | escape }}
            <hr>
        </div>
        <div class="blog-card-meta">
            <div class="difficulty">
                <strong>Difficulty: </strong>
                <span class="tag difficulty {{ post.difficulty | downcase }}">
                    {{ post.difficulty }}
                </span>
            </div>
            {% if post.os %}
            <div class="os os-label">
                <strong>Operating System: </strong>
                <span class="os-icon" data-os="{{ post.os | escape }}"></span>
            </div>
            {% endif %}
            {% if post.skills %}
            <div class="skills">
                <strong>Skills: </strong> {{ post.skills | join: ' | ' | escape }}

            </div>
            {% endif %}
        </div>
    </a>
</div>
<script src="/assets/js/icon.js"></script>