<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="{{ '/assets/css/contact.css' | relative_url }}">
</head>
</html>
<section id="contact-section" class="contact-centered">
  <div class="contact-box">
    <h3 class="contact-title">You can find me here</h3>
    <div class="contact-links">
      {% unless site.email == %}
      <a href="mailto:{{site.email}}" class="contact-btn" target="_blank">
        <i class="fas fa-envelope" style="margin-right: 8px; "></i>Send me an email
      </a>
      <a href="https://www.linkedin.com/in/{{site.linkedin_username}}" class="contact-btn" target="_blank">
        <i class="fab fa-linkedin" style="margin-right: 8px;"></i>My LinkedIn
      </a>
      <a href="https://www.github.com/{{site.github_username}}" class="contact-btn" target="_blank">
        <i class="fab fa-github" style="margin-right: 8px;"></i>My GitHub
      </a>
      {% endunless %}
    </div>
  </div>
</section>
