{% include head.html %}
<nav class="navbar is-black is-fixed-top" role="navigation" aria-label="main navigation" id="navbar">
  <!-- Quitar container de aquí para navbar full width -->
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/">
      <img src="{{ site.favicon-url }}" alt="Site Icon"
           style="width: 28px; height: 28px; margin-right: 9px; vertical-align: middle; box-shadow: 0 0 8px #00e0ff;">
    </a>
    <div class="navbar-burger" data-target="navbar-menu">
      <span></span><span></span><span></span>
    </div>
  </div>

  <div class="navbar-menu has-background-black" id="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item {% if page.layout == 'default' %}is-active{% endif %}" href="/">Home</a>
      <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/#about">Whoami</a>
      <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/#contact">Contact</a>
      <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/#skills">Skills</a>
      <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/#articles">Articles</a>
      <a class="navbar-item {% if page.layout == 'blog' %}is-active{% endif %}" href="/blog">Labs</a>
    </div>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    if ($navbarBurgers.length > 0) {
      $navbarBurgers.forEach(function ($el) {
        $el.addEventListener('click', function () {
          var target = $el.dataset.target;
          var $target = document.getElementById(target);
          $el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        });
      });
    }
  });
</script>
