---
---
@import "main.scss";

#navbar {
    opacity: 0.95;
}

.is-active {
    font-weight: 600;
    border-radius: 50px;
}

.navbar-dropdown {
    border: none;
    right: 0;
    left: auto;
}

a.navbar-item:hover, .navbar-link:hover {
    background-color: rgba(255, 255, 255, 0.25) !important;
    color: white !important;
    border-radius: 50px;
}

a.navbar-item.is-active {
    background-color: rgba(255, 255, 255, 0.25) !important;
    color: white !important;
    border-radius: 50px;
}

a.navbar-item.is-active:hover {
    background-color: rgba(255, 255, 255, 0.25) !important;
    color: grey;
    border-radius: 50px;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: grey;
    border-radius: 50px;
}

#hero {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);

    &::before {
        filter: blur(0.15rem);
        background-image: url({{site.heroimage}});
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        position: absolute;
        opacity: 0.25;
        content: "";
    }
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    #hero::before {
        background-attachment: scroll;
        background-size: cover;
    }
}

@media (max-width: 480px) {
    #hero::before {
        background-attachment: scroll;
        background-size: cover;
        filter: blur(0.1rem);
        opacity: 0.3;
    }
}

.title {
    margin: auto 0.75rem !important;
}

.subtitle {
    letter-spacing: 0.25rem;
}

#about {
    .image {
        max-width: 20vmax;
        margin: auto;

        img {
            border: 0.25rem dotted black;
        }
    }

    a {
        min-width: 25vmax;
        margin: 0.5rem;
    }
}

#contact {
    #contact-button {
        margin: 0.5rem auto;
        display: flex;
        justify-content: center;
    }

    svg {
        transition: all 0.15s ease-in-out;
        margin: auto 0.75vmax;

        &:hover {
            transform: scale(1.10);
            filter: opacity(0.75);
        }
    }

    hr {
        background-color: black;
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-pair {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .single-button {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 1rem;
    }

    .single-button .button {
        margin: 0 auto;
        min-width: 12rem;
    }

    .button {
        min-width: 12rem;
    }

    @media (max-width: 768px) {
        .button-pair {
            flex-direction: column;
            align-items: center;
            gap: 0;
        }

        .button {
            width: 100%;
            margin-bottom: 0.5rem;
        }

        .single-button .button {
            width: 100%;
        }
    }
}

#blog {
    .hero-body {
        padding: 3rem 0.25rem 1rem 0.25rem;
    }

    .container {
        margin: 1.5rem auto;
    }

    #blog-card {
        transition: all 0.25s ease;
        margin-bottom: 0.5vmax;
        transform: scale(0.85);
        margin: 0 2.5vmax;
        line-height: normal;
        border-radius: 0.25rem;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

        &:hover {
            transform: scale(0.875);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
        }

        @media (max-width: 768px) {
            transform: scale(1);
            margin: 0 auto 5vmax auto;
            max-width: 90%;

            &:hover {
                transform: scale(1.025);
                margin-bottom: 5vmax;
                box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            }

            .image {
                padding-top: 50%;
            }
        }

        .title {
            margin: 0.5rem;
        }

        .content {
            margin: 0.5rem;
        }

        .column {
            display: grid;

            .image {
                border-radius: 0.25rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}

#search {
    border-bottom: 0.15rem solid;

    input {
        border: none;
        outline: none;
        font-weight: 500 !important;

        &::placeholder {
            font-weight: 500;
            color: grey;
            letter-spacing: 0.25rem;
        }
    }

    .button {
        transition: all 0.25s ease;
        &:focus {
            outline: 0.25rem solid white;
        }

        border: none;
    }
}

#footer {
    #backtotop {
        transition: all 0.25s ease;
        width: 10rem;
        padding: 0.25rem;
        margin: auto auto 1rem auto;

        &:hover {
            transform: scale(1.05);
        }
    }

    .container {
        margin: auto;
        padding: 1.5rem;
        line-height: 1.25;

        .column {
            display: grid;
            justify-content: center;

            li {
                list-style: circle;
                list-style-position: outside;
            }

            a {
                color: #7a7a7a;

                &:hover {
                    color: white;
                }
            }

            figure {
                border: 1.5px solid white;
                border-radius: 50rem;
                justify-content: center;
                margin: auto;
                transition: all 0.25s ease;
                &:hover {
                    transform: scale(1.15);
                }
            }
        }
    }

    #credits {
        padding: 0.75rem;
        font-size: 0.85rem;

        a {
            text-decoration: underline;
            font-weight: bolder;
            color: white;
        }
    }
}

#project {
    .columns {
        .column {
            border-radius: 0.5rem;
            overflow: hidden; /* Asegura que los bordes de las tarjetas estén recortados */
            
            .image {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%; /* Asegura que la imagen cubra el área */
                height: auto; /* Ajusta la altura de la imagen */
            }
        }
    }

    #project-card {
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        transform: scale(0.95);
        transition: all 0.25s ease;
        margin-bottom: 1rem; /* Asegura un espaciado adecuado */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 300px; /* Ajusta la altura mínima según sea necesario */
        overflow: hidden; /* Asegura que el contenido no desborde */
        
        &:hover {
            transform: scale(0.975);
        }
    }

    .card {
        transition: all 0.25s ease;
        background-color: #000; /* Fondo negro para la tarjeta */
        border-radius: 0.5rem; /* Bordes redondeados */
        color: white; /* Color del texto */
        min-height: 200px; /* Ajusta la altura mínima según sea necesario */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }  

    .card-content {
        padding: 1rem;
    }

    .title {
        margin: 0.5rem 0;
        font-size: 1.25rem;
    }

    .content {
        font-size: 1rem;
    }

    .image {
        width: 100%;
        height: 200px; /* Ajusta la altura según sea necesario */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

#post {
    @media (min-width: 768px) {
        margin: auto 2.5vmax;
    }

    a {
        text-decoration: underline;
    }

    #title {
        text-decoration: none;
    }

    .title {
        margin: auto;
    }

    #post-image {
        border-radius: 0.25rem;
        max-width: 50%;
        height: auto;
    }

    .subtitle {
        letter-spacing: 0.05rem;
    }

    #description {
        margin-bottom: 1.25vmax;
    }

    .tag {
        margin: 0.15rem auto;
    }

    .content {
        ol, ul, blockquote {
            display: inline-block;
        }

        hr {
            background-color: grey;
        }

        img, iframe {
            max-width: calc(100% - 25vw);
            margin: 0.25rem auto;

            @media (max-width: 768px) {
                max-width: calc(100% - 5vw);
            }
        }

        ul, ol {
            display: inline-block;
        }
    }

    .container {
        margin: 2.5rem auto;
        word-break: break-word;
        max-width: -webkit-fill-available;
    }

    #disqus_thread {
        margin-top: 5vmax;
    }
}

#page-section {
    .content {
        ul, ol, blockquote {
            display: inline-block;
        }
    }
}
