---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <section class="hero is-fullheight has-text-centered has-background-black-ter">
      <div class="hero-body">
        <div class="container is-max-desktop">
          <h1 class="page-title title is-1 is-uppercase has-text-weight-bold has-text-white">
            {{ page.title }}
          </h1>
          <h3 class="page-subtitle is-uppercase has-text-weight-medium is-marginless has-text-grey-light">
            {{ content }}
          </h3>
          <hr class="page-divider">
          <div class="columns is-centered">
            <div class="column is-narrow">
              <a href="{{ site.url }}{{ site.baseurl }}/" class="button is-white is-outlined is-uppercase is-rounded has-text-weight-normal page-btn">
                Home
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
