<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
</head>

<body>
  {% include navbar.html %}

  <section class="hero is-fullheight has-text-centered" id="post">
    <div class="hero-body">
      <div class="container">

        <a href="{{ page.url | relative_url }}" class="post-title-link">
          <h1 class="title is-2 has-text-weight-semibold has-text-centered">{{ page.title }}</h1>
        </a>
        <hr class="divider">

        <div class="columns is-variable is-5 has-text-centered">
          <div class="column is-6">
            <figure class="image is-16by9" id="post-image-wrapper">
              <a href="{{ page.enlace }}" target="_blank">
                <img src="{{ page.post-image }}" alt="{{ page.title }}" id="post-image" />
              </a>
            </figure>
          </div>

          <div
            class="column is-5 subtitle has-text-left-desktop has-text-left-fullhd has-text-left-tablet has-text-centered-mobile post-meta">
            {% unless page.description.size == 0 %}
            <p id="description" class="content has-text-weight-medium is-uppercase" style="font-size: medium;">
              {{ page.description | strip | strip_html | strip_newlines }}
            </p>

            {% endunless %}

            <p class="post-label">
              <b>Difficulty: </b>
              <span class="tag difficulty {{ page.difficulty | downcase }}" style="font-size: 15px;">{{ page.difficulty
                }}</span>
            </p>

            {% if page.os %}
            <p class="post-label os-label">
              <b>Operating System: </b>
              <span class="os-icon" data-os="{{ page.os | escape }}" style="font-size: 30px;"></span>
            </p>
            {% endif %}

            {% if page.skills %}
            <p class="post-label">
              <b>Skills: </b>
              {% for skill in page.skills %}
              "{{ skill }}"{% if forloop.last == false %}, {% endif %}
              {% endfor %}
            </p>
            {% endif %}

          </div>
        </div>
        <hr class="divider">
        <div
          class="content post-body has-text-justified-desktop has-text-justified-fullhd has-text-justified-tablet has-text-left-mobile">
          {{ content }}
        </div>
        <hr class="divider">
        {% unless site.disqus-shortname == "" %}
        <section class="section disqus-comments" id="disqus_thread"></section>
        {% endunless %}
      </div>
    </div>
  </section>

  {% include footer.html %}

  <!-- Modal -->
  <div id="myModal" class="modal" role="dialog" aria-modal="true" tabindex="-1" aria-hidden="true">
    <button class="modal-close is-large" aria-label="close" onclick="closeModal()"></button>
    <img class="modal-content" id="img01" alt="Expanded Image">
  </div>

  <!-- Prism.js -->
  <script src="../prism.js"></script>

  <script src="/assets/js/copy.js"></script>
  <script src="/assets/js/icon.js"></script>
  <script src="/assets/js/myModal.js"></script>
</body>

</html>